.parallax {
    /* The image used */
    background-image: url("./assets/images/para_bg.png");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cardcontainer{
  display: inline-block;
  float: center;
  width: 65%;
}
